@use 'partials/_top-nav.scss';
@use 'partials/_inbox.scss';
@use 'partials/_chat.scss';
@use 'partials/_add-participant.scss';
@use 'partials/_participantsDropdown.scss';

////////////////////
//# VARIABLES
////////////////////
:root {
  /* colors */
  --main-gray: #707070;
  --background-gray: #f4f5f8;
  --light-gray: #d6d6d6;
  --meBox-gray: #e7eaf0;
  --black: #001737;
  --blue: #0e68fa;
  --unread: rgb(255, 255, 255, 0.91);
  /* shadows */
  --imageShadow: 0 0 10px rgb(28, 39, 60, 0.16);
  --suddleShadow: 0 0 10px rgba(21, 30, 47, 0.079);
  /* borders */
  /*   --inboxBorder: 1px solid rgb(72, 94, 144, 0.29); */
  --border: 1px solid #cad0df;
  --border-radius: 0.2rem;
}

////////////////////
//# GENEREL
////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* HUSK HØJDE ? */
}

main {
  height: 100%;
}

#chat,
#inbox {
  padding: 1rem;
}

.inbox-container {
  margin-top: 70px;
}

mark {
  background: var(--blue);
  color: white;
}

button,
.more-container,
.feather-search,
.profiles,
.feather-edit,
.overview-wrapper,
.unread-messages,
.back,
.feather-check {
  cursor: pointer;
}

////////////////////
//# ICONS
////////////////////
.feather:not(.gray-stroke):not(.blue-stroke) {
  width: 24px;
  height: 24px;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.blue-stroke {
  stroke: var(--blue);
}
.gray-stroke {
  stroke: var(--light-gray);
}
.main-gray-stroke {
  stroke: var(--main-gray);
}

////////////////////
//# SEARCH
////////////////////
.search {
  position: relative;
}

.feather-search {
  position: absolute;
  transform: translate(-2.3rem, 1.4rem);
  stroke-width: 2.5px;
  height: 22px;
  width: 22px;
}

input {
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: var(--border);
}

input,
textarea {
  outline-color: rgba(14, 104, 250, 0.7);
  outline-width: 1px;
  &::placeholder {
    font-weight: 300;
  }
}
////////////////////
//# IMAGES AND INITIALS DIV
////////////////////
img,
.no-img {
  border-radius: 50%;
}

.profile-picture {
  box-shadow: var(--imageShadow);
  width: 40px;
  height: 40px;
  object-fit: cover;
}

////////////////////
//# MISC
////////////////////
.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.extra {
  display: none;
}
.plus {
  display: block;
}
.search-chat-label.mobile {
  display: block;
}
.back {
  display: block;
}

.desk-search {
  display: none;
}

.search-participants[data-state="open"] {
  animation: higher 1s linear 1 forwards;
}

@keyframes higher {
  0% {
  }
  100% {
    height: calc(100% + 3px);
  }
}
@media (min-width: 650px) {
  body {
    //overflow: hidden;
    max-height: 100vh;
    width: 100vw;
  }
  main {
    display: grid;
    grid-template-areas: "chat inbox";
    grid-template-columns: 60% 40%;
    position: relative;
    padding-bottom: 70px;
    background-color: #fff;
  }

  #chat {
    grid-area: chat;
    position: relative;
    left: 0;
    width: 60%;
    background-color: var(--background-gray);
  }

  #inbox {
    grid-area: inbox;
    border: 1px solid var(--light-gray);
    padding: 0;
    right: 0;
    width: 40%;
  }

  #inbox,
  #chat {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  .burger {
    display: none;
  }
  .inbox-nav {
    grid-template-areas: "inbox new";
    grid-template-columns: auto 3.5rem;
    width: 40%;
  }

  .inbox-container {
    padding: 0 1rem calc(70px + 0.5rem) 1rem;
    position: relative;
    .search-messages-label {
      position: fixed;
      bottom: 0;
      right: 0;
      border-left: 1px solid var(--light-gray);
      border-top: 1px solid var(--light-gray);
      z-index: 51;
      background-color: #fff;
      height: 70px;
      width: 40%;
      padding: 0 1rem 1rem 1rem;
    }
  }

  .new-message-wrapper {
    width: 60%;
  }

  .chat-nav {
    width: 60%;
    grid-template-areas: "pics search more";
    grid-template-columns: calc((100% - 3.5rem) / 2) calc((100% - 3.5rem) / 2) 3.5rem;
    .participant-wrapper {
      width: 20px;
    }
    .back {
      display: none;
    }
    .profiles {
      border-right: 1px solid var(--light-gray);
    }
    .desk-search {
      background-color: #fff;
      grid-area: search;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 1rem;
      input {
        width: 100%;
      }
      svg {
        position: absolute;
        top: 0;
      }
    }
    .more-dropdown {
      width: calc((60% - 3.5rem) / 2 + 3.5rem + 1px);
    }
    .back,
    .participants,
    .desk-search,
    .profiles {
      height: 68px;
    }
    .participants .dropdown {
      width: 100%;
      .participants-dropdown {
        width: calc(100% + 1px);
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
      }
    }
  }
  .search-chat-label.mobile {
    display: none;
  }

  .chat-container {
    .unread-messages {
      left: 30%;
      transform: translateX(-50%);
    }
  }

  .back[data-state="add"],
  .back[data-state="new"] {
    display: block;
  }
  .chat-nav[data-state="add"],
  .chat-nav[data-state="new"] {
    grid-template-areas: "back pics search more";
    grid-template-columns: 3.5rem calc((100% - 7rem) / 2) calc((100% - 7rem) / 2) 3.5rem;
  }
  .participants .dropdown[data-state="add"],
  .participants .dropdown[data-state="new"] {
    width: calc(60vw - 2px);
  }

  .search-participants {
    border-right: 1px solid var(--light-gray);
  }

  .inbox-container {
    .overview-wrapper {
      position: relative;
    }
    .chat-overview {
      position: static;
    }
    .total-participants > div {
      top: 0.5rem;
      right: 0.5rem;
    }

    .message-preview,
    .name.overview {
      width: 27%;
    }
  }
}
@media (min-width: 800px) {
  .chat-nav .participant-wrapper {
    width: 30px;
  }
}
@media (min-width: 950px) {
  .chat-nav .participant-wrapper {
    width: 40px;
  }
}
@media (min-width: 1100px) {
  .extra {
    display: flex;
  }
  .plus {
    display: none;
  }
}
