@use 'partials/_top-nav.scss';
@use 'partials/_inbox.scss';
@use 'partials/_chat.scss';
@use 'partials/_add-participant.scss';
@use 'partials/_participantsDropdown.scss';
@use 'partials/_spinner.scss';

////////////////////
//# VARIABLES
////////////////////
:root {
  /* colors */
  --main-gray: #707070;
  --background-gray: #f4f5f8;
  --light-gray: #d6d6d6;
  --meBox-gray: #e7eaf0;
  --black: #001737;
  --blue: #0e68fa;
  --unread: rgb(255, 255, 255, 0.91);
  /* shadows */
  --imageShadow: 0 0 10px rgb(28, 39, 60, 0.16);
  --actionShadow: 3px 3px 10px rgb(28, 39, 60, 0.3);
  --suddleShadow: 0 0 10px rgba(21, 30, 47, 0.079);
  /* borders */
  /*   --inboxBorder: 1px solid rgb(72, 94, 144, 0.29); */
  --border: 1px solid #cad0df;
  --border-radius: 0.2rem;
}

////////////////////
//# GENEREL
////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  /* HUSK HØJDE ? */
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
}

.inbox-container {
  margin-top: 70px;
}

mark {
  background: var(--blue);
  color: white;
}

button,
.menu-container,
.feather-search,
.profiles,
.feather-edit,
.overview-wrapper,
.unread-messages,
.back,
.feather-check {
  cursor: pointer;
}

////////////////////
//# ICONS
////////////////////
.feather:not(.gray-stroke):not(.blue-stroke) {
  width: 24px;
  height: 24px;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.blue-stroke {
  stroke: var(--blue);
}
.gray-stroke {
  stroke: var(--light-gray);
}
.main-gray-stroke {
  stroke: var(--main-gray);
}

////////////////////
//# SEARCH
////////////////////
.search {
  position: relative;
}

.feather-search {
  position: absolute;
  transform: translate(-2.3rem, 1.4rem);
  stroke-width: 2.5px;
  height: 22px;
  width: 22px;
}

input {
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: var(--border);
}

input,
textarea {
  font-size: 0.9rem;
  outline-color: rgba(14, 104, 250, 0.7);
  outline-width: 1px;
  &:-webkit-direct-focus {
    outline-color: rgba(14, 104, 250, 0.7);
    outline-width: 1px;
  }
  &::placeholder {
    font-weight: 300;
    font-size: 0.9rem;
  }
}
input {
  &:focus {
    outline: none;
    border: 1.5px solid rgba(14, 104, 250, 0.7);
  }
}
.search-participants input {
  border-width: 0;
  &:focus {
    border-width: none;
    outline: none;
  }
}
////////////////////
//# IMAGES AND INITIALS DIV
////////////////////
img,
.no-img {
  border-radius: 50%;
}

////////////////////
//# MISC
////////////////////
.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}
.search-participants input {
  margin-bottom: 0.05rem;
  font-size: 0.9rem;
}
body,
html,
.dropdown {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    -webkit-appearance: none;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .chat-nav .participants .dropdown[data-state="add"],
    .chat-nav .participants .dropdown[data-state="new"] {
      top: 4.4rem;
    }
    .inbox-container .feather-search {
      transform: translate(-2.3rem, 0.95rem);
    }
    .menu-dropdown .feather-search {
      transform: translate(-2.3rem, 1.2rem);
    }
    input::placeholder {
      font-size: 0.75rem;
    }
    .search-participants input {
      margin-bottom: 0.05rem;
      font-size: 0.9rem;
      &::placeholder {
        font-size: 0.9rem;
        overflow: visible;
      }
    }
  }
}

@media (min-width: 650px) {
  body {
    max-height: 100vh;
    width: 100vw;
  }
  main {
    display: grid;
    grid-template-areas: "chat inbox";
    grid-template-columns: 60% 40%;
    position: relative;
    padding-bottom: 60px;
    background-color: #fff;
    overflow: hidden;
  }

  #inbox,
  #chat {
    height: 100%;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  .burger {
    display: none;
  }
}
@media (min-width: 800px) {
  svg:hover,
  .menu-container:hover .feather-more-vertical,
  .unread-messages:hover svg,
  .reaction:hover svg,
  .more:hover svg,
  .info:hover svg,
  .copy:hover svg,
  .delete:hover svg,
  .leave-chat:hover .feather,
  .add-participant:hover .feather,
  .mark-as-read:hover .feather {
    stroke: var(--blue);
  }
  .unread-messages:hover p,
  .leave-chat:hover p,
  .add-participant:hover p,
  .mark-as-read:hover p {
    color: var(--blue);
  }
}
@media (min-width: 1200px) {
  main {
    grid-template-columns: 70% 30%;
  }
  #chat,
  #inbox {
    width: 100%;
    position: static;
  }
}
