.search-participants {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
  p {
    font-size: 18px;
    font-weight: 700;
  }
  input {
    padding-left: 0.5rem;
    border: none;
    width: 100%;
    outline: none;
    margin-top: 0.18rem;
  }
  svg {
    position: absolute;
    right: 1rem;
    top: 1.6rem;
  }
}
.add-new .participant-wrapper {
  width: calc(100% - 4rem);
}
@media (min-width: 710px) {
  #chat .participants .dropdown[data-state="view"] {
    width: calc(60vw + 1px);
    top: 4.4rem;
  }
  #chat .participants-dropdown {
    width: 100%;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  #chat .participants .dropdown[data-state="view"] .participant-list {
    width: 100%;
  }

  #chat .participants .participants-dropdown,
  #chat .participants .dropdown[data-state="view"] {
    left: 0;
  }

  .chat-nav .participants .dropdown[data-state="add"],
  .chat-nav .participants .dropdown[data-state="new"] {
    width: calc(60vw + 2px);
  }
  .chat-nav .participants .dropdown .add-new .participant-wrapper {
    width: calc(60vw - 4rem);
  }
}
@media (min-width: 992px) {
  #chat .participants-dropdown {
    width: calc(100% - 60px);
  }
}
@media (min-width: 1060px) {
  #chat .participants .dropdown[data-state="view"] {
    width: 100%;
  }
}
@media (min-width: 1260px) {
  #chat .participants .dropdown[data-state="view"] {
    width: calc(100% + 1px);
    left: -1px;
  }
  .chat-nav .participants .dropdown[data-state="add"],
  .chat-nav .participants .dropdown[data-state="new"] {
    width: calc(70vw + 1px);
  }
  #chat .dropdown[data-state="view"] .participants-dropdown {
    width: calc(70vw - 3.5rem - 350px - 60px + 1px);
  }
}
@media (min-width: 1560px) {
  #chat .dropdown .participants-dropdown {
    width: calc(70vw - 20vw - 3.5rem);
  }
}
