////////////////////
////////////////////
// # GENEREL
////////////////////
////////////////////

.more-wrapper,
.reaction-wrapper {
  display: flex;
}
.feedback-wrapper {
  display: flex;
  z-index: 20;
}
button {
  font-size: 100%;
  font-family: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  outline: none;
}

////////////////////
////////////////////
// # UNREAD MESSAGES
////////////////////
////////////////////
.chat-container {
  .unread-messages {
    width: 200px;
    background-color: var(--unread);
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(66, 76, 94, 0.16);
    /*   display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;

    svg {
      stroke-width: 2px;
      height: 18px;
      stroke: var(--black);
    }
    p {
      padding: 0.4rem 0.4rem 0.4rem 0.7rem;
      color: var(--black);
      font-size: 14px;
    }
  }
}
.unread-messages {
  display: flex;
}
//////////////////////
//////////////////////
// # FOR ALL MESSAGES
//////////////////////
//////////////////////
#chat,
#inbox {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    -webkit-appearance: none;
  }
}
.chat-container {
  min-height: calc(100vh - 140px);

  .chat-wrapper {
    background-color: var(--background-gray);
    position: absolute;
    padding: 2rem 1rem 1rem;
    top: 60px;
    left: 0;
    padding-bottom: 60px;
    min-height: calc(100vh - 130px);
    width: 100%;
  }
  .message-wrapper {
    grid-template-areas: "pic message more";
    grid-template-columns: 3rem auto 3rem;
    grid-gap: 0.2rem;
    margin-bottom: 3rem;
    position: relative;

    .profile-picture {
      grid-area: pic;
    }
    .profile-picture {
      box-shadow: var(--imageShadow);
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    ///////////////////////////
    // # THE MESSAGE ITSELF
    ///////////////////////////
    .message-content-wrapper {
      grid-area: message;
      border-radius: var(--border-radius);
      width: 100%;
      padding: 1rem;
      box-shadow: var(--suddleShadow);
      .name {
        font-size: 16px;
        color: var(--black);
      }
      .message {
        font-size: 14px;
        color: var(--main-gray);
      }
      .time-posted {
        color: var(--main-gray);
        font-size: 12px;
        display: flex;
        align-items: center;
        p {
          padding-left: 0.5rem;
        }
        svg {
          width: 18px;
        }
      }
    }
    ///////////////////////////
    // # THE OPTIONS
    ///////////////////////////
    .options-container {
      grid-area: more;
      align-self: center;
      .options {
        display: flex;
        justify-content: flex-end;
        svg {
          width: 19px;
          stroke-width: 2px;
          pointer-events: none;
        }
        button:nth-child(1) {
          margin-right: 0.3rem;
        }
        button {
          transform: translateX(5px);
        }
      }
    }

    ///////////////////////////
    // # REACTION BUTTONS
    ///////////////////////////

    .more-wrapper,
    .reaction-wrapper {
      position: absolute;
      align-items: center;
      justify-content: space-between;
      width: 12rem;
      background-color: #fff;
      box-shadow: var(--actionShadow);
      border-radius: var(--border-radius);
      padding: 0.3rem 0.5rem 0.1rem 0.7rem;

      svg {
        width: 19px;
        stroke-width: 2px;
        pointer-events: none;
      }
    }

    ///////////////////////////
    // # MORE BUTTONS
    ///////////////////////////
    .more-container {
      width: 7rem;
      transform: translate(-7.5rem, -2.1rem);
      .more-wrapper {
        width: 7rem;
      }
    }

    ///////////////////////////
    // # DISPLAYING LIKES
    ///////////////////////////
    .feedback-container {
      width: calc(100vw - 6rem);
      display: flex;
      justify-content: flex-end;
      height: 24px;
      position: absolute;
      bottom: -1.7rem;
      .feedback-wrapper {
        font-size: 10px;
        align-items: flex-end;
        svg {
          width: 17px;
        }
        p {
          padding: 0.2rem 0.2rem 0.2rem 0.1rem;
        }
      }
    }
  }

  ///////////////////////////
  // # MESSAGES FROM OTHERS
  ///////////////////////////
  .you .message-content-wrapper {
    background-color: #fff;
  }
  .message-wrapper.you {
    //without delete option - smaller width
    .more-wrapper {
      width: 4.5rem;
    }
    .reaction-container {
      transform: translate(-12.5rem, -2.1rem);
    }
    .more-container {
      width: 4.5rem;
      transform: translate(-5rem, -2.1rem);
    }
  }

  ///////////////////////////
  // # MESSAGES FROM YOU
  ///////////////////////////
  .message-wrapper.me {
    .message-content-wrapper {
      background-color: var(--meBox-gray);
    }

    .profile-picture {
      grid-area: more;
      justify-self: flex-end;
    }
    .options-container {
      grid-area: pic;
      .options {
        flex-direction: row-reverse;
      }
      button:nth-child(1) {
        margin-left: 0.3rem;
      }
      button {
        transform: translateX(-5px);
      }
    }
    .feedback-container {
      justify-content: flex-start;
      margin-left: 4rem;
    }
    .feedback-wrapper {
      font-size: 10px;
      align-items: flex-end;
    }
    .reaction-container {
      transform: translate(3.5rem, -2.1rem);
    }
    .more-container {
      transform: translate(3.5rem, -2.1rem);
    }
  }
}

.message-wrapper {
  display: grid;
}

//////////////////////
//////////////////////
// # WRITE NEW MESSAGE
//////////////////////
//////////////////////
.new-message-wrapper {
  grid-template-areas: "attach write send";
  background-color: #fff;
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 3.5rem auto 3.5rem;
  align-items: center;
  z-index: 50;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: var(--border);
  textarea {
    grid-area: write;
    padding: 1.3rem 1rem;
    border: none;
    height: 60px;
    width: 100%;
    outline: none;
    resize: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    &::placeholder {
      vertical-align: middle;
    }
  }
  button {
    padding: 1.2rem 1rem 1rem;
    height: 60px;
  }
  .attach {
    border-right: var(--border);
    grid-area: attach;
    width: 100%;
  }
  .send {
    border-left: var(--border);
    grid-area: send;
    width: 100%;
    svg {
      width: 20px;
      transform: rotate(20deg) translateX(-3px);
    }
  }
}

//////////////////////
//////////////////////
// # ANIMATIONS
//////////////////////
//////////////////////

.copy_text {
  animation: copy 0.8s ease-out 1 forwards;
}

@keyframes copy {
  0% {
    color: var(--main-gray);
  }
  50% {
    color: var(--blue);
  }
  100% {
    color: var(--main-gray);
  }
}

@media (min-width: 650px) {
  #chat {
    grid-area: chat;
    position: relative;
    left: 0;
    width: 60%;
    background-color: var(--background-gray);
  }
  .new-message-wrapper {
    width: 60%;
  }
  .chat-container {
    .unread-messages {
      left: 30%;
      transform: translateX(-50%);
    }
  }
  .chat-container .message-wrapper .feedback-container {
    width: 100%;
    padding-right: 4rem;
  }
}

@media (min-width: 1000px) {
  .chat-container .message-wrapper.you .message-content-wrapper {
    width: calc(100% - 1rem);
    margin-left: 1rem;
  }
  .chat-container .message-wrapper.me .message-content-wrapper {
    width: calc(100% - 1rem);
    margin-right: 1rem;
  }

  .chat-container .message-wrapper.me .feedback-container {
    padding-left: 6rem;
    margin-left: 0;
  }

  .chat-container .message-wrapper.you .feedback-container {
    padding-right: 5.5rem;
  }

  .chat-container .message-wrapper .profile-picture {
    width: 50px;
    height: 50px;
  }

  .chat-container .message-wrapper.me {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .chat-container .message-wrapper.you {
    padding-right: 2rem;
    padding-left: 1rem;
  }
}

@media (min-width: 1200px) {
  #chat {
    width: 100%;
    grid-area: chat;
    position: static;
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
  .chat-container .message-wrapper.me {
    padding-left: 15vw;
  }
  .chat-container .message-wrapper.you {
    padding-right: 15vw;
  }
  .chat-container .message-wrapper.me .feedback-container {
    padding-left: 20vw;
  }
  .chat-container .message-wrapper.you .feedback-container {
    padding-right: 19.5vw;
  }

  .chat-container .chat-wrapper {
    position: static;
  }
  .new-message-wrapper {
    width: 70%;
  }
  .chat-container .unread-messages {
    left: 37%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1350px) {
  .chat-container .message-wrapper.you .reaction-container {
    transform: translate(4rem, -2.1rem);
  }
  .chat-container .message-wrapper.you .more-container {
    transform: translate(4rem, -2.1rem);
  }
  .chat-container .message-wrapper.me .reaction-container {
    transform: translate(-13rem, -2.1rem);
  }
  .chat-container .message-wrapper.me .more-container {
    transform: translate(-8rem, -2.1rem);
  }
}
@media (min-width: 1400px) {
  .chat-container .message-wrapper.me {
    padding-left: 25vw;
  }
  .chat-container .message-wrapper.you {
    padding-right: 25vw;
  }
  .chat-container .message-wrapper.me .feedback-container {
    padding-left: 29vw;
  }
  .chat-container .message-wrapper.you .feedback-container {
    padding-right: 28.5vw;
  }
}
@media (min-width: 1700px) {
  .chat-container .message-wrapper.me {
    padding-left: 30vw;
  }
  .chat-container .message-wrapper.you {
    padding-right: 30vw;
  }
  .chat-container .message-wrapper.me .feedback-container {
    padding-left: 33.5vw;
  }
  .chat-container .message-wrapper.you .feedback-container {
    padding-right: 33vw;
  }
}
