////////////////////
////////////////////
// # GENEREL
////////////////////
////////////////////

#chat,
#inbox {
  padding: 0 1rem;
}
#inbox {
  padding: 0;
}
#inbox {
  overflow: hidden;
  height: calc(100vh - 70px);
}
.inbox-container {
  overflow-y: scroll;
  height: calc(100vh - 70px);
  position: relative;
  top: 0px;
  padding: 1rem;
  overflow-x: hidden;
}
.inbox-container {
  .overview-container {
    padding-top: 0.8rem;
    padding-bottom: 60px;
  }

  ////////////////////
  ////////////////////
  // # SEARCH
  ////////////////////
  ////////////////////
  .search {
    width: 100%;
    margin: calc((60px - 36px) / 2) 0;
  }
  .feather-search {
    transform: translate(-2.3rem, 1.1rem);
  }
  .search-messages-label {
    width: 100%;
  }

  ////////////////////
  ////////////////////
  // # EACH GROUP
  ////////////////////
  ////////////////////
  .overview-wrapper {
    display: grid;
    grid-template-areas: "picture preview";
    grid-template-columns: 60px calc((100vw - 60px) - 4rem);
    border-radius: var(--border-radius);
    box-shadow: var(--suddleShadow);
    width: 100%;
    padding: 1rem;
    margin-bottom: 8px;
    height: 96px;

    svg,
    img,
    div,
    p,
    h4 {
      pointer-events: none;
    }
  }
  .picture-wrapper {
    position: relative;
    grid-area: picture;
  }

  .chat-overview {
    grid-area: preview;
    padding-left: 1rem;
    position: relative;
  }
  img {
    object-fit: cover;
    width: 60px;
    height: 60px;
  }

  .no-img {
    width: 60px;
    height: 60px;
    background-color: var(--background-gray);
    box-shadow: var(--imageShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 0.1rem;
    p {
      font-size: 22px;
      letter-spacing: 1px;
      padding-bottom: 0.1rem;
    }
  }
  .no-img2 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .no-img3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .unread-count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--blue);
    color: #fff;
    font-size: 12px;
    letter-spacing: -1px;
    position: absolute;
    top: -0.3rem;
    right: -0.5rem;
    p {
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      padding-right: 1px;
    }
  }

  .name.overview {
    font-size: 16px;
  }
  .message-preview,
  .name.overview,
  .time-posted.overview p {
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .name.overview {
    width: calc(100% - 30px);
  }
  .time-posted.overview {
    display: flex;
  }
  .feather-clock {
    width: 19px;
    height: 19px;
  }
  .time-posted.overview > p {
    font-size: 13px;
    padding-left: 0.3rem;
  }

  .time-posted.overview[data-read="unread"] {
    .feather-clock {
      stroke: var(--blue);
    }
    p {
      color: var(--blue);
    }
  }
  .time-posted.overview {
    padding-top: 0.2rem;
    .feather-clock {
      stroke: var(--main-gray);
      width: 19px;
      height: 19px;
    }
    p {
      color: var(--main-gray);
    }
  }

  .total-participants > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-gray);
    color: #fff;
    font-size: 12px;
    letter-spacing: -1px;
    position: absolute;
    top: -0.3rem;
    right: 0rem;
    p {
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
      padding-right: 1px;
    }
  }

  .img2 {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  .img2:nth-child(1) {
    transform: translate(0px, 20px);
    z-index: 1;
  }

  div.no-img:nth-child(1) {
    z-index: 1;
  }
  .img2:nth-child(2) {
    transform: translate(20px, 0px);
    z-index: 0;
  }

  div.no-img:nth-child(2) {
    z-index: 0;
  }
}
//only safari (safari does not display the svg if width === 100% for some reasen
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .inbox-container .search {
      width: 99%;
    }
  }
}

@media (min-width: 710px) {
  #chat,
  #inbox {
    padding: 0;
  }
  #inbox {
    grid-area: inbox;
    border: 1px solid var(--light-gray);
    padding: 0;
    right: 0;
    width: 40%;
  }
  .time-posted.overview p {
    max-width: 100px;
  }

  .inbox-nav {
    grid-template-areas: "inbox new";
    grid-template-columns: auto 3.5rem;
    width: 40%;
  }

  .inbox-container {
    padding: 0 1rem 0.5rem 1rem;
    position: relative;
    height: calc(100vh - 130px);
    .search-messages-label {
      position: fixed;
      bottom: 0;
      right: 0;
      border-left: 1px solid var(--light-gray);
      border-top: 1px solid var(--light-gray);
      z-index: 51;
      background-color: #fff;
      height: 60px;
      width: 40%;
      padding: 0 1rem 1rem 1rem;
    }
  }
  .inbox-container {
    .overview-wrapper {
      position: relative;
    }
    .chat-overview {
      position: static;
    }
    .total-participants > div {
      top: 0.5rem;
      right: 0.5rem;
    }

    .message-preview,
    .name.overview {
      width: 20%;
    }
  }
}
@media (min-width: 810px) {
  .inbox-container .name.overview {
    width: 23%;
  }

  .inbox-container .message-preview {
    width: 25%;
  }
  .time-posted.overview p {
    max-width: 1000px;
  }
}
@media (min-width: 960px) {
  .inbox-container .name.overview,
  .inbox-container .message-preview {
    width: 27%;
  }
}
@media (min-width: 1260px) {
  #inbox {
    width: 100%;
    grid-area: inbox;
    position: static;
    border-bottom: none;
    border-right: none;
    border-top: none;

    .search-messages-label {
      width: 30%;
    }
    .inbox-container .name.overview,
    .inbox-container .message-preview {
      width: 19%;
    }
    .inbox-nav {
      width: 30%;
    }
    .inbox-container {
      padding-bottom: 0.5rem;
    }
  }
}
@media (min-width: 1980px) {
  #inbox .inbox-nav {
    width: 20%;
  }
  #inbox .search-messages-label {
    width: 20%;
  }
  #inbox .inbox-container .name.overview,
  #inbox .inbox-container .message-preview {
    width: 13%;
  }
}
