main [data-state="inbox"] {
  background-color: #fff;
}
.inbox-nav {
  background-color: #fff;
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-areas: "burger inbox new";
  grid-template-columns: 3.5rem auto 3.5rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: var(--border);
  z-index: 50;

  h1 {
    grid-area: inbox;
    padding-left: 1rem;
    font-size: 25px;
  }

  .no-img {
    width: 60px;
    height: 60px;
    background-color: var(--background-gray);
    box-shadow: var(--imageShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 0.1rem;
    p {
      font-size: 22px;
      letter-spacing: 1px;
      padding-bottom: 0.1rem;
    }
  }
  .no-img2 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .no-img3 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .new-chat {
    grid-area: new;
    padding: 1rem;
  }
  .burger {
    grid-area: burger;
    padding: 1rem;
    height: 65px;
    border-right: var(--border);

    svg {
      transform: translateY(0.3rem);
    }
  }
}

.chat-nav {
  grid-template-areas: "back pics more";
  background-color: #fff;
  height: 71px;
  width: 100%;
  display: grid;
  grid-template-columns: 3.5rem auto 3.5rem;
  align-items: center;
  position: fixed;
  top: -1px;
  left: 0;
  border-bottom: var(--border);
  z-index: 51;

  .participants {
    grid-area: pics;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .back {
    grid-area: back;
    padding: 1.5rem 1rem 1rem;
    height: 70px;
    border-right: var(--border);
    background-color: #fff;
    svg {
      pointer-events: none;
    }
  }

  .more-container {
    grid-area: more;
    padding: 1.5rem 1rem 1rem;
    height: 68px;
    border-left: var(--border);
    position: relative;
    background-color: #fff;
    .mark-as-read p,
    .mark-as-read svg,
    .leave-chat p,
    .leave-chat svg,
    .add-participant p,
    .add-participant svg {
      pointer-events: none;
    }
    .more > svg {
      pointer-events: none;
    }
  }

  .profile-picture {
    box-shadow: var(--imageShadow);
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .no-img {
    width: 60px;
    height: 60px;
    background-color: var(--background-gray);
    box-shadow: var(--imageShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 0.1rem;
    p {
      font-size: 22px;
      letter-spacing: 1px;
      padding-bottom: 0.1rem;
    }
  }
  .no-img2 {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .participant-wrapper {
    width: 35px;
    height: 40px;
  }

  .profiles {
    background-color: white;
    height: 69px;
    width: 100%;
    align-items: center;
    padding-top: 0.2rem;
  }

  .list,
  .participants > div {
    justify-content: center;
    .plus {
      padding: 0 0 0 1rem;
      align-self: center;
      font-weight: 700;
    }
  }
  .dropdown,
  .more-dropdown {
    position: absolute;
  }

  .more-dropdown-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 4.5rem;
    left: calc(-100vw + 3.5rem);
    z-index: -1;
  }

  .more-dropdown {
    right: 1px;
    top: -1px;
    padding: 2rem;
    width: calc(100vw - 3.5rem + 1px);
    border: var(--border);
    border-top: none;
    border-right: none;
    background-color: #fff;
    z-index: 50;
    p {
      font-size: 15px;
    }

    div {
      display: flex;
      padding: 0.7rem 0;
      justify-content: flex-end;
      align-items: center;
      svg {
        stroke-width: 2px;
        stroke: var(--black);
        margin-left: 1rem;
      }
    }
    div:nth-child(4) svg {
      width: 22px;
      margin-right: 0.2rem;
    }
    input {
      margin: 0 0 1.3rem 0;
      width: 100%;
    }
  }
  label svg {
    position: absolute;
    top: 1rem;
  }
}
.list,
.profiles,
.dropdown {
  display: flex;
}
.chat-nav .more-container[data-height="68px"] {
  height: 68px;
}
.chat-nav .more-container[data-height="72px"] {
  animation: bigger 1s linear 1 forwards;
}
@keyframes bigger {
  0% {
    height: 68px;
  }
  100% {
    height: 72px;
  }
}
@media (min-width: 650px) {
  .inbox-nav {
    left: auto;
  }
}
